html {
    overflow-x: hidden;
}
body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 54px;
    overflow-x: hidden;
}

p {
    display: inline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}